<launch>
  <rosparam command="load" file="$(find jessicar_control)/config/motor.yaml" />
  <rosparam command="load" file="$(find jessicar_control)/config/find_ball.yaml" />

  <node pkg="jessicar_camera" type="csi_pub.py" name="csi_pub" />
  <node pkg="jessicar_cv" type="find_ball.py" name="blob_detector" />
  <node pkg="jessicar_control" type="chase_the_ball.py" name="chase_ball" output="screen" />
  <node pkg="jessicar_control" type="blob_chase.py" name="blob_chase" />

</launch>
